.calendar {
  border-collapse: collapse;
  table-layout: fixed;
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;
  width: auto;
  float: right;
}
.calendar th {
  border: 1px solid #000000;
  background-color: transparent;
  width: 300px;
  height: 50px;
  font-family:  "Yu Mincho";
}
.calendar td {
  border: 1px solid #000000;
  padding: 5px 10px;
  text-align: left;
  vertical-align: top;
  height: 100px;
}

/* http://xn--yck7ccu3lc7455coj5arwgo74a.jp/th.html */

th.sunday {
  background-color: rgba(215,0,58,0.5);
}
th.saturday {
  background-color: rgba(130,119,255,0.5);
}

.day {
  border-collapse: collapse;
  table-layout: fixed;
  resize: vertical;
}
.day th {
  background-color: #d4ff5f;
  width: 300px;
  height: 20px;
}
.day td {
  padding: 5px 10px;
  text-align: left;
  height: 100px;
}

.daynum {
  font-size: 20px;
  cursor:pointer;
}





* {
  box-sizing: border-box;
}
body {
  font-family:'Avenir','Helvetica, Neue','Helvetica','Arial';
}


/* モーダルCSS */
.modalArea {
  display: none;
  position: fixed;
  z-index: 10; /*サイトによってここの数値は調整 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modalBg {
  width: 100%;
  height: 100%;
  background-color: rgba(30,30,30,0.9);
}

.modalWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  width: 70%;
  max-width: 500px;
  padding: 10px 30px;
  background-color: #fff;
}

.closeModal {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  cursor: pointer;
}





.fontsize_youbi{
  font-size: 25px;
}

.yohaku{
  margin-top: 0px;
  padding-top: 0px;
}

.invite{
  position:absolute;
  top: 30px;
  right: 30px;
}


button#back{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 95px;
  float: right;
}
.nextmonth{
display:inline-block;
display: flex;
justify-content: space-between;
}

button#next{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}


h1{
  font-family: "Yu Mincho";
  padding-left: 20px;
  font-size: 40px;
}
h2{
  font-family: "Yu Mincho";
  padding-left: 10px;
}

/*
table{
  margin-top: 30px;
  margin-left: 80px;
}
th{
  height: 60px;
  color: black;
  background-color: transparent;
  font-size: 60px;
  text-align: center;
  font-family:  "Yu Mincho";
}
tr *:first-child{
  color: #ff69b4;
}
tr *:last-child{
  color: #0ba9ea;
}
*/

button{
  margin-left: 10px;
}

.header{
  height: 60px;
}


.bg_pattern {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  z-index: -1;
}
.Paper_v2 {
  background-image:
    repeating-linear-gradient(to bottom,
      transparent 25px,
      rgba(0, 0, 0, 0.04) 26px,  rgba(0, 0, 0, 0.04) 26px,
      transparent 27px,  transparent 51px, 
      rgba(0, 0, 0, 0.04) 52px,  rgba(0, 0, 0, 0.04) 52px,
      transparent 53px,  transparent 77px, 
      rgba(0, 0, 0, 0.04) 78px,  rgba(0, 0, 0, 0.04) 78px,
      transparent 79px,  transparent 103px, 
      rgba(0, 0, 0, 0.04) 104px,  rgba(0, 0, 0, 0.04) 104px,
      transparent 105px,  transparent 129px, 
      rgba(0, 0, 0, 0.04) 130px,  rgba(0, 0, 0, 0.04) 130px),
 
    repeating-linear-gradient(to right,
      transparent 25px,
      rgba(0, 0, 0, 0.04) 26px,  rgba(0, 0, 0, 0.04) 26px,
      transparent 27px,  transparent 51px, 
      rgba(0, 0, 0, 0.04) 52px,  rgba(0, 0, 0, 0.04) 52px,
      transparent 53px,  transparent 77px, 
      rgba(0, 0, 0, 0.04) 78px,  rgba(0, 0, 0, 0.04) 78px,
      transparent 79px,  transparent 103px, 
      rgba(0, 0, 0, 0.04) 104px,  rgba(0, 0, 0, 0.04) 104px,
      transparent 105px,  transparent 129px, 
      rgba(0, 0, 0, 0.04) 130px,  rgba(0, 0, 0, 0.04) 130px);
}








.comment_ip {
  width: 300px; /*親要素いっぱい広げる*/
  padding: 8px 0px; /*ボックスを大きくする*/
  font-size: 16px;
  border-radius: 3px; /*ボックス角の丸み*/
  border: 2px solid #ddd; /*枠線*/
  box-sizing: border-box; /*横幅の解釈をpadding, borderまでとする*/
}

.sche_start_ip {
  width: 170px; /*親要素いっぱい広げる*/
  padding: 8px 0px; /*ボックスを大きくする*/
  font-size: 16px;
  border-radius: 3px; /*ボックス角の丸み*/
  border: 2px solid #ddd; /*枠線*/
  box-sizing: border-box; /*横幅の解釈をpadding, borderまでとする*/
}




.submit {
  cursor: pointer;
  outline: 0;
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 16px;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.submit:hover {
  color: #fff;
  background-color: #0b5ed7;
  border-color: #0a58ca;
}




.reload {
  cursor: pointer;
  outline: 0;
  color: #fff;
  background-color: #ff4848;
  border-color: #ff4848;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 16px;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.reload:hover {
  color: #fff;
  background-color: #b13131;
  border-color: #b13131;
}







.next {
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 1em 2em;
  width: 300px;
  color: #333;
  font-size: 18px;
  font-weight: 700;
  background-color: #cccccc;
  transition: 0.3s;
}

.next::before {
  content: '';
  position: absolute;
  top: 50%;
  right: 2em;
  transform: translateY(-50%);
  width: 40px;
  height: 2px;
  background-color: #333333;
  transition: 0.3s;
}

.next::after {
  content: '';
  position: absolute;
  top: 50%;
  right: calc(2em - 2px);
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 0 6px 10px;
  border-color: transparent transparent transparent #333333;
  transition: 0.3s;
}

.next:hover {
  text-decoration: none;
  background-color: #bbbbbb;
}

.next:hover::before,
.next:hover::after {
  right: 1.7em;
}






.back {
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 1em 2em;
  width: 300px;
  color: #333;
  font-size: 18px;
  font-weight: 700;
  background-color: #cccccc;
  transition: 0.3s;
}

.back::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 2em;
  transform: translateY(-50%);
  width: 40px;
  height: 2px;
  background-color: #333333;
  transition: 0.3s;
}

.back::after {
  content: '';
  position: absolute;
  top: 50%;
  left: calc(2em - 2px);
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 10px 6px 0;
  border-color: transparent #333333 transparent transparent;
  transition: 0.3s;
}

.back:hover {
  text-decoration: none;
  background-color: #bbbbbb;
}

.back:hover::before,
.back:hover::after {
  left: 1.7em;
}